{% extends 'base.html.twig' %}

{% block title %}{{dog.jmeno}}{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('dogpage') }}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

{# {{dump(dog)}} #}

{% set gens = 4 %}
{% set rows = 2 ** gens %}

<h1>{{dog.getJmeno}}</h1>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div><a href='{{ path('editPes', {dogID: dog.ID})}}'>upravit</a></div>
{% endif %}

<h2>Informace</h2>
<table id='info'>
  <tr>
    <td>
      Pohlaví
    </td>
    <td>
      {{dog.getSex}}
    </td>
  </tr>
  <tr>
    <td>
      Datum narození
    </td>
    <td>
      {% if dog.getBirthday != '0000-00-00' %}
        {{dog.getBirthday|date("d.m.Y")}}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      Barva
    </td>
    <td>
      {{dog.getColor}}
    </td>
  </tr>
  <tr>
    <td>
      Srst
    </td>
    <td>
      {{dog.getHair}}
    </td>
    </tr>
    <tr>
      <td>
        Čip
      </td>
      <td>
        {% if dog.cip != '0' %}
          {{dog.cip}}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        Číslo zápisu
      </td>
      <td>
        {% if dog.cmku != '' %}
          {{dog.cmku_pref}}{{dog.cmku}}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        Výška
      </td>
      <td>
        {% if dog.vyska != '0.00' %}
          {{dog.vyska}} cm
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        Chovatel
      </td>
      <td>
        {{dog.chovatel_jmeno}}
      </td>
    </tr>
    <tr>
      <td>
        Majitel
      </td>
      <td>
        {{dog.majitel}}
      </td>
  </tr>
</table>

<br>

<h2>Rodokmen</h2>

<h3>Zobrazení:</h3>


<button class='changeDisplay' onclick='changeDisplay("name")'>Jména</button>
<button class='changeDisplay' onclick='changeDisplay("height"), showHeights()'>Výška</button>
<button class='changeDisplay' onclick='changeDisplay("color"), showColors()'>Barva</button>
<button class='changeDisplay' onclick='changeDisplay("patella")'>Patelly</button>

<div id='detailedInfoPedigree'></div>

<table id='pedigree'>

{% for g in 0 .. (rows)-1 %}
  <tr class='parentrow' data-row='{{g}}'>
    {% for i in 1 .. gens %}


      {% if g % (rows/dogs[i]|length) == 0 %}
        <td rowspan='{{rows/dogs[i]|length}}' class='parentname pn{{i}}'>
          {{dogs[i][(g/(rows/dogs[i]|length))].printInfo | raw }}
        </td>
      {% endif %}

    {% endfor %}
  </tr>
{% endfor %}




</table>
<button onclick='checkRelationship()'>check</button>
{# {{dump(dogs)}} #}




{% endblock %}


{% block javascripts %}
  <script src="{{ asset('javascript/dogpage.js') }}"></script>
{% endblock %}
