{% extends 'base.html.twig' %}

{% block title %}{{dog.jmeno}}{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('overview') }}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

{{dump(dog)}}

{% set gens = 5 %}
{% set rows = 2 ** gens %}


<table id='pedigree'>

{% for g in 0 .. (rows)-1 %}
  <tr>
    {% for i in 1 .. gens %}


      {% if g % (rows/dogs[i]|length) == 0 %}
        <td rowspan='{{rows/dogs[i]|length}}'>
          {{dogs[i][(g/(rows/dogs[i]|length))].printInfo | raw }}
        </td>
      {% endif %}

    {% endfor %}
  </tr>
{% endfor %}




</table>
{{dump(dogs)}}

{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('overview') }}
{% endblock %}
