{% extends 'base.html.twig' %}

{% block title %}Databáze pudlů{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('overview') }}
{% endblock %}

{% block body %}

<h1>Databáze</h1>
<div id='filtrButton' data-open="+">filtr</div>
<div id='filtr'>
  <div>
    Jméno/chovná stanice
    <input class='filterInput' id='name'></input>
  </div>
  <div>
    Barva
    <input class='filterInput' id='color'></input>
  </div>
  <div>
    Pohlaví
    <input class='filterInput' id='sex'></input>
  </div>
  <div>
    Narození min
    <input type='date' class='filterInput' id='birthMin'></input>
  </div>
  <div>
    Narození max
    <input type='date' class='filterInput' id='birthMax'></input>
  </div>
  <div>
    Otec
    <input class='filterInput' id='father'></input>
  </div>
  <div>
    Matka
    <input class='filterInput' id='mother'></input>
  </div>
  <div>
    Chovatel
    <input class='filterInput' id='breeder'></input>
  </div>
  <div>
    Majitel
    <input class='filterInput' id='owner'></input>
  </div>
</div>

<table>
  <thead id='tableHead'>
    <tr>
      <th>
        Jméno
      </th>
      <th>
        Chovná stanice
      </th>
      <th>
        Barva
      </th>
      <th>
        Pohlaví
      </th>
      <th>
        Narození
      </th>
      <th>
        Otec
      </th>
      <th>
        Matka
      </th>
      <th>
        Chovatel
      </th>
      <th>
        Majitel
      </th>
    </tr>
  </thead>
  <tbody id='tableBody'>

    <!-- {% for pes in psi %}
      <tr>
        <td data-title="Jméno">
          <a href="{{ path('displayDogWithDog', {dogID: pes.ID, dogname: (pes.pes_jmeno ~ ' ' ~ pes.stanice)|trim|replace({' ': '-'}) } ) }}">
          {{pes.pes_jmeno}}
        </td>
        <td data-title="Chovná stanice">
          {{pes.stanice}}
        </td>
        <td data-title="Barva">
          {{pes.barva|lower}}
        </td>
        <td data-title="Pohlaví">
          {{pes.pohlavi|lower}}
        </td>
        <td data-title="Datum narození">
          {% if pes.narozeni != '0000-00-00' %}
            {{pes.narozeni|date("d.m.Y")}}
          {% else %}
            neudáno
          {% endif %}
        </td>
        <td data-title="Matka">
          {{pes.matka_jmeno}} {{pes.matka_stanice}}
        </td>
        <td data-title="Otec">
          {{pes.otec_jmeno}} {{pes.otec_stanice}}
        </td>
        <td data-title="Chovatel">
          {{pes.chovatel_jmeno}}
        </td>
        <td data-title="Majitel">
          {{pes.majitel}}
        </td>
      </tr>
    {% endfor %} -->

  </tbody>
</table>
{# {{dump(psi)}} #}


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  {{ encore_entry_script_tags('overview') }}
{% endblock %}
