{% extends 'base.html.twig' %}

{% block title %}Databáze pudlů{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('overview') }}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

<h1>Databáze</h1>

<table>
  <tr>
    <th>
      Jméno
    </th>
    <th>
      Chovná stanice
    </th>
    <th>
      Barva
    </th>
    <th>
      Pohlaví
    </th>
    <th>
      Narození
    </th>
    <th>
      Otec
    </th>
    <th>
      Matka
    </th>
    <th>
      Chovatel
    </th>
    <th>
      Majitel
    </th>
  </tr>

  {% for pes in psi %}
    <tr>
      <td>
        <a href="../../pes/{{pes.ID}}/{{pes.pes_jmeno|replace({' ': '-'})}}-{{pes.stanice|replace({' ': '-'})}}">
        {{pes.pes_jmeno}}
      </td>
      <td>
        {{pes.stanice}}
      </td>
      <td>
        {{pes.barva}}
      </td>
      <td>
        {{pes.pohlavi}}
      </td>
      <td>
        {% if pes.narozeni != '0000-00-00' %}
          {{pes.narozeni|date("d.m.Y")}}
        {% else %}
          neudáno
        {% endif %}
      </td>
      <td>
        {{pes.matka_jmeno}} {{pes.matka_stanice}}
      </td>
      <td>
        {{pes.otec_jmeno}} {{pes.otec_stanice}}
      </td>
      <td>
        {{pes.chovatel_jmeno}}
      </td>
      <td>
        {{pes.majitel}}
      </td>
    </tr>
  {% endfor %}


</table>
{# {{dump(psi)}} #}


{% endblock %}
