{% extends 'base.html.twig' %}

{% block title %}Databáze pudlů{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('overview') }}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div id='background'></div>
<h1>Databáze</h1>

<!-- <div class='stripe' id='stripe'>
</div>
<div class='stripe' id='stripe2'>
</div>
<div class='stripe' id='stripe3'>
</div>
<div class='stripe' id='stripe4'>
</div>
<div class='stripe' id='stripe5'>
</div> -->

</div>
<table>
  <tr>
    <th>
      Jméno
    </th>
    <th>
      Chovná stanice
    </th>
    <th>
      Barva
    </th>
    <th>
      Pohlaví
    </th>
    <th>
      Narození
    </th>
    <th>
      Otec
    </th>
    <th>
      Matka
    </th>
    <th>
      Chovatel
    </th>
    <th>
      Majitel
    </th>
  </tr>

  {% for pes in psi %}
    <tr>
      <td data-title="Jméno">
        <a href="{{ path('displayDogWithDog', {dogID: pes.ID, dogname: (pes.pes_jmeno ~ ' ' ~ pes.stanice)|trim|replace({' ': '-'}) } ) }}">
        {{pes.pes_jmeno}}
      </td>
      <td data-title="Chovná stanice">
        {{pes.stanice}}
      </td>
      <td data-title="Barva">
        {{pes.barva}}
      </td>
      <td data-title="Pohlaví">
        {{pes.pohlavi}}
      </td>
      <td data-title="Datum narození">
        {% if pes.narozeni != '0000-00-00' %}
          {{pes.narozeni|date("d.m.Y")}}
        {% else %}
          neudáno
        {% endif %}
      </td>
      <td data-title="Matka">
        {{pes.matka_jmeno}} {{pes.matka_stanice}}
      </td>
      <td data-title="Otec">
        {{pes.otec_jmeno}} {{pes.otec_stanice}}
      </td>
      <td data-title="Chovatel">
        {{pes.chovatel_jmeno}}
      </td>
      <td data-title="Majitel">
        {{pes.majitel}}
      </td>
    </tr>
  {% endfor %}


</table>
{# {{dump(psi)}} #}


{% endblock %}
