{% extends 'base.html.twig' %}


{% block title %}
  Přidání psů
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}

{% set nadpis = 'default' %}
{% set podnadpis = 'default' %}
{% set count = 0 %}
  <form action="/admin/adding" method="post" class='form'>
    <div id='form'>
    <div>

    {% for form in forms %}

      {# Nadpis #}
      {% if nadpis != form.getNadrazeny() %}
        </div>
          <h1>{{form.getNadrazeny()}}</h1>
        <div class='{{form.getNadrazeny()}}'>
        {% set nadpis = form.getNadrazeny() %}
        {% set count = count + 1 %}
      {% endif %}

      {% if count == 1 %}
        {% set counter = 'vrh' %}
      {% else %}
        {% set counter = "pes[#{count-1}]" %}
      {% endif %}

      {# Podnadpis #}
      {% if podnadpis != form.getSubnadpis() %}
        <h2 class='subnadpis'>{{form.getSubnadpis()}}</h2>
        {% set podnadpis = form.getSubnadpis() %}
      {% endif %}
      {% if form.getName() == 'CMKU' %}
        <label for="CMKU_pref">Prefix zápisu</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{ counter }}[CMKU_pref]" id="{{ counter }}CMKU_pref" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
        <br>
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="" name="{{ counter }}[{{form.getName()}}]" id="{{ counter }}{{form.getName()}}" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
      {% else %}
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{ counter }}[{{form.getName()}}]" id="{{ counter }}{{form.getName()}}" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
      {% endif %}

      <br>

    {% endfor %}
    </div>
  </div>
    <input id='odeslat' type="submit" disabled>
  </form>
  <button id='kontrola'>Zkontrolovat</button>
  <div id='pridatButton'>Přidat psa</div>
{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('form_check') }}
{% endblock %}
