{% extends 'base.html.twig' %}


{% block title %}
  Přidání psů
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}

  <!-- {{ dump(forms) }} -->

{% set nadpis = 'default' %}
{% set podnadpis = 'default' %}
{% set counter = 0 %}
  <form action="/admin/adding" method="post" class='form'>
    <div id='form'>
    <div>

    {% for form in forms %}

      {# Nadpis #}
      {% if nadpis != form.getNadrazeny() %}
        </div>
          <h1>{{form.getNadrazeny()}}</h1>
        <div class='{{form.getNadrazeny()}}'>
        {% set nadpis = form.getNadrazeny() %}
        {% set counter = counter + 1 %}
      {% endif %}
      {# Podnadpis #}
      {% if podnadpis != form.getSubnadpis() %}
        <h2 class='subnadpis'>{{form.getSubnadpis()}}</h2>
        {% set podnadpis = form.getSubnadpis() %}
      {% endif %}
      {% if form.getName() == 'CMKU' %}
        <label for="CMKU_pref">Prefix zápisu</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="CMKU_pref{{ counter }}" id="CMKU_pref{{ counter }}" class="form-add" {{form.getRequired()}}>
        <br>
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="" name="{{form.getName()}}{{ counter }}" id="{{form.getName()}}{{ counter }}" class="form-add" {{form.getRequired()}}>
      {% else %}
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{form.getName()}}{{ counter }}" id="{{form.getName()}}{{ counter }}" class="form-add" {{form.getRequired()}}>
      {% endif %}

      <br>

    {% endfor %}
    </div>
  </div>
    <input type="submit">
  </form>
  <button>Zkontrolovat</button>
  <div id='pridatButton'>Přidat psa</div>
{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('form_check') }}
{% endblock %}
