{% extends 'base.html.twig' %}


{% block title %}
  Přidání psů
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}

{% set gens = 4 %}
{% set rows = 2 ** gens %}

{% set nadpis = 'default' %}
{% set podnadpis = 'default' %}
{% set count = 0 %}
  <form action="{{path('adding')}}" method="post" class='form'>
    <div id='form'>
    <div>
      <table id='pedigree_add'>
        {% for g in 0 .. (rows)-1 %}
          <tr>
            {% for i in 1 .. gens %}


              {% if g % (rows/pedigree[i]) == 0 %}
                <td name='gen[{{i}}][{{g/(rows/pedigree[i])}}]' rowspan='{{rows/pedigree[i]}}'>
                  <!-- {{i}} {{g/(rows/pedigree[i])}} -->
                  {% if g % ((rows*2)/pedigree[i]) == 0 %}
                    <!-- otec -->
                    <input type="text" value="Pes" name="gen[{{i}}][{{g/(rows/pedigree[i])}}][pohlavi]" id="pohlavi{{g}}{{i}}" class="form-add" style='display:none;'>
                  {% else %}
                    <!-- matka -->
                    <input type="text" value="Fena" name="gen[{{i}}][{{g/(rows/pedigree[i])}}][pohlavi]" id="pohlavi{{g}}{{i}}" class="form-add" style='display:none;'>
                  {% endif %}
                  <!-- <br> -->
                  <label for="jmeno{{g}}{{i}}">J:</label>
                  <input type="text" placeholder="Jméno" value="" name="gen[{{i}}][{{g/(rows/pedigree[i])}}][jmeno]" id="jmeno{{g}}{{i}}" class="form-add pedigree">
                  <label for="stanice{{g}}{{i}}">S:</label>
                  <input type="text" placeholder="Stanice" value="" name="gen[{{i}}][{{g/(rows/pedigree[i])}}][stanice]" id="stanice{{g}}{{i}}" class="form-add pedigree">
                </td>
              {% endif %}

            {% endfor %}
          </tr>
        {% endfor %}
      </table>

    {% for form in forms %}

      {# Nadpis #}
      {% if nadpis != form.getNadrazeny() %}
        </div>
          <h1>{{form.getNadrazeny()}}</h1>
        <div class='{{form.getNadrazeny()}}'>
        {% set nadpis = form.getNadrazeny() %}
        {% set count = count + 1 %}
      {% endif %}

      {% if count == 1 %}
        {% set counter = 'vrh' %}
      {% else %}


        {% set counter = "pes[#{count-1}]" %}
      {% endif %}

      {# Podnadpis #}
      {% if podnadpis != form.getSubnadpis() %}
        <h2 class='subnadpis'>{{form.getSubnadpis()}}</h2>
        {% set podnadpis = form.getSubnadpis() %}
      {% endif %}
      {% if form.getName() == 'cmku' %}
        <label for="cmku_pref">Prefix zápisu</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{ counter }}[cmku_pref]" id="{{ counter }}cmku_pref" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
        <br>
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="" name="{{ counter }}[{{form.getName()}}]" id="{{ counter }}{{form.getName()}}" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
      {% else %}
        <label for="{{form.getName()}}">{{form.getLabel()}}</label>
        <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{ counter }}[{{form.getName()}}]" id="{{ counter }}{{form.getName()}}" class="form-add {{form.getClass()}}" {{form.getRequired()}}>
      {% endif %}

      <br>

    {% endfor %}
    </div>
  </div>
    <input id='odeslat' type="submit" disabled>
  </form>

  <button onclick='checkExists()'>Exists?</button>

  <button id='kontrola'>Zkontrolovat</button>
  <div id='pridatButton'>Přidat psa</div>
{% endblock %}


{% block javascripts %}
  {{ encore_entry_script_tags('form_check') }}
  <script src="{{ asset('javascript/add.js') }}"></script>
{% endblock %}
