{% extends 'base.html.twig' %}


{% block title %}
  {{nadpise}}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('form_edit') }}
{% endblock %}

{% block body %}

{% set nadpis = 'default' %}
{% set podnadpis = 'default' %}
{% set counter = 'pes' %}

<h1>{{nadpise}}</h1>

<div id='errorMsg'></div>

  <form action="{{path(typ)}}" method="post" class='form' onsubmit="return confirm('Opravdu?')">
    <div id='form'>
    <div>

      <label for="ID">ID</label>
      <input type="text" value="{{dogID}}" name="pes[1][ID]" id="ID" class="form-add" readonly>
      <br>
      <label for="vrh">Vrh ID</label>
      <input type="text" value="" name="pes[1][vrh]" id="vrh" class="form-add" readonly>
      <br>

    {% for form in forms %}

    {% if nadpis != form.getNadrazeny() %}
      </div>
        <h1>{{form.getNadrazeny()}}</h1>
      <div class='{{form.getNadrazeny()}}'>
      {% set nadpis = form.getNadrazeny() %}
    {% endif %}

    {% if nadpis == 'Psi' %}
      {% set counter = 'pes[1]' %}
    {% elseif nadpis == 'Vrh' %}
      {% set counter = 'pes[1]' %}
    {% endif %}



    {% if form.getName() == 'cmku' %}
      <label for="cmku_pref">Prefix zápisu</label>
      <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="[cmku_pref]" id="cmku_pref" class="form-add {{form.getClass()}}">
      <br>
      <label for="{{form.getName()}}">{{form.getLabel()}}</label>
      <input type="{{form.getTyp()}}" value="" name="{{ counter }}[{{form.getName()}}]" id="{{form.getName()}}" class="form-add {{form.getClass()}}">
      <br>
    {% else %}
      <label for="{{form.getName()}}">{{form.getLabel()}}</label>
      <input type="{{form.getTyp()}}" value="{{form.getValue()}}" name="{{ counter }}[{{form.getName()}}]" id="{{form.getName()}}" class="form-add {{form.getClass()}}">
      <br>
    {% endif %}
    {% endfor %}
    </div>
  </div>
    <input id='odeslat' type="submit" disabled>
  </form>
  <button id='deleteForm'>Vymazat formulář</button>
  <button value='checkSqlPes?' id='kontrola'>Doplnit formulář</button>


{% endblock %}
