<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

      <nav>
        <div id='logo'>
          <a href='{{ path('index') }}'>Poodlebase</a>
        </div>
        <div>
          <a href='{{ path('database') }}'>databáze</a>
        </div>
        <div>
          <a href='{{ path('database') }}'>chovné stanice</a>
        </div>
        <div>
          <a href='{{ path('database') }}'>aktuální vrhy</a>
        </div>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>
          <a href='{{ path('admin') }}'>admin</a>
        </div>
        <div style='margin-right:20px;'>
          <a href='{{ path('app_logout') }}'>logout</a>
        </div>
        <!-- <div style='flex-basis:100px;'> -->
          <!-- {{app.user.username}} -->
        <!-- </div> -->
      {% else %}
        <div style='margin-right:20px;'>
          <a href='{{ path('app_login') }}'>login</a>
        </div>
      {% endif %}
      </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
